extends layout 
include mixins/_tweetForm
include mixins/_tweetCard
block content
  .single_wrap
    h1= variables.ADD_NEW_TITLE
    a(href="/verify")
     button= variables.ADD_NEW_BUTTON_TEXT
    p List of current marriages will go here.. 
    ol.marriage_list
      each marriage in marriages
        li.marriage_list_item #{marriage.husband_name}, #{marriage.wife_name} #{marriage.marriage_status}
          form(method="GET" action=`/form/${marriage._id}`)
            button Update

    

