//- This is a demo page for search-replace purpose
h3 Wife's Information
label(for='wife_name') Wife's Name: 
input(type='text' name='wife_name' value=user.name)
label(for='wife_age') Wife Age: 
input(type='text' name='wife_age' value=user.name)
label(for='wife_date_of_birth') Wife Date of Birth: 
input(type='text' name='wife_date_of_birth' value=user.name)
label(for='wife_address') Wife Address: 
input(type='text' name='wife_address' value=user.name)
label(for='wife_fathers_name') Wife's Father's Name: 
input(type='text' name='wife_fathers_name' value=user.name)
label(for='wife_mothers_name') Wife's Mother's Name: 
input(type='text' name='wife_mothers_name' value=user.name)
label(for='wife_votter_id_number') Wife's Voter ID Number: 
input(type='text' name='wife_votter_id_number' value=user.name)